* {
    margin: 0;
    padding: 0;
}
.inicio-contenedor {
    background: linear-gradient(#75c2f6, #1d5d9b);
    display: flex;
    height: 100vh;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 0 30px;
}
.contenedor {
    background-color: rgba(255, 255, 255, 0.363);
    border: 2px solid white;
    border-radius: 40px;
    padding: 60px 68px 40px;
    width: 300px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    display: flex;
}
h1 {
    color: white;
    font-size: 40px;
    font-family: "Times New Roman", Times, serif;
    margin-bottom: 50px;
}
input {
    background-color: transparent;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 2px solid white;
    font-size: 16px;
    padding: 0px 20px;
    outline: none;
    height: 50px;
}
.boton {
    color: white;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 300px;
    margin: 10px 0px;
    height: 40px;
    width: 240px;
    border: none;
}
.boton:hover {
    background-color: rgb(49, 144, 221);
}

.pepe {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #fff;
    justify-content: center;
}

a {
    display: flex;
    justify-content: center;
}

.Maldini {
    background-color: #4285f4;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 500;
    padding: 10px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.Maldini:hover {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #75c2f6;
}

.Maldini img {
    margin-right: 10px;
}
